.sliderContainer {
	display: flex;
	flex-direction: column;
	width: 300px;

	div {
		display: flex;
		flex-direction: column;
	}
}

body {
	margin-left: 30%;
	margin-right: 30%;
}

canvas {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
