.sliderContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 100%;
	align-items: center;

	div {
		display: flex;
		flex-direction: column;
		padding-right: 5px;
		padding-left: 5px;
	}
}

body {
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: "Nunito", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

h1 {
	font-weight: 800;
}

canvas {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border: 2px black solid;
}
